--Problem 7.	Find All Different Employee’s Salaries
--Write a SQL query to find all different employee’s salaries. Show only the salaries. Submit your query statements as Prepare DB & run queries.
SELECT  
  Distinct [Salary]
FROM Employees